<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Internet Of Trolls</title>
	<script src="static/script.js"></script>
	<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	crossorigin="anonymous">
	<style>
		div {
			text-align: center;
		}
	</style>
</head>
<body style="background-color: LightGray">
	<header style="margin-bottom: 50px; background-color: Black; color: white">
		<div class="container">
			<div class="page-header">
				<h1>INTERNET OF TROLLS</h1>
				<h2>Bienvenue chez vous !</h2>
			</div>     
		</div>
	</header>

	<div class="container">
		<div class="row">
			<!-- <div class="col-sm-1">
			</div> -->

			<!-- lumière -->
			<div class="col-sm-4">
				<h3>Lumières</h3>
				<img src="../static/bulb.png" alt="Ampoules de lumière" style="max-width: 100%">
				<div class="container" style="margin-bottom: 20px">
					<div class="row">
						<!-- cuisine -->
						<div class="col">
							<h4>Cuisine</h4>
							<button type="button" class="btn btn-warning" onclick="useApi('on',11)">Allumer</button>
							<button type="button" class="btn btn-dark" onclick="useApi('off',11)">Éteindre</button> 
							<p class="card-text" id="cuisine">La lumière est éteinte</p>

						</div>
						<div class="col">
							<h4>Chambre</h4>
							<button type="button" class="btn btn-warning" onclick="useApi('on',13)">Allumer</button>
							<button type="button" class="btn btn-dark" onclick="useApi('off',13)">Éteindre</button>
							<p class="card-text" id="chambre">La lumière est éteinte</p>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-warning" onclick="lightAllOn()">Tout allumer</button>
				<button type="button" class="btn btn-dark" onclick="lightAllOff()">Tout éteindre</button>
			</div>

			<!-- volets -->
			<div class="col-sm-4">
				<h3>Stores</h3>
				<img src="../static/blinds.png" alt="Volets" style="max-width: 100%">
				<div class="container">
					<div class="row">
						<!-- cuisine -->
						<div class="col">
							<h4>Cuisine</h4>
                            <button type="button" class="btn btn-success" onclick="">Ouvert</button>
							<button type="button" class="btn btn-danger" onclick="">Fermé</button>
						</div>
						<div class="col">
							<h4>Chambre</h4>
							<button type="button" class="btn btn-success" onclick="blindUp(12)">Ouvert</button>
							<button type="button" class="btn btn-danger" onclick="blindDown(12)">Fermé</button>
							<p class="card-text" id="blind-state">Le volet est FERMÉ</p>
						</div>
					</div>
				</div>
			</div>

			<!-- capteur -->
			<div class="col-sm-4">
				<h3>Capteur de luminosité</h3>
				<img src="../static/sun.png" alt="Luminosité" style="max-width: 100%">
				<h4>État de la luminosité</h4>
				<p class="card-text" id="brightness-state">Il fait jour/nuit.</p>
			</div>
		</div>
	</div>
	
	<!-- BOOTSTRAP JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
	crossorigin="anonymous"></script>
</body>
</html>