<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Internet Of Trolls</title>
        <!-- BOOTSTRAP CSS -->
        <script src="static/script.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>Welcome to the internet of Trolls</h1>
        <!-- Light Control -->
        <div class="row">
            <div class="col-sm-6">
                <div id="light" class='card'  style="width: 20rem;">
                    <img src="static/bulb.jpeg" style="width:250px;height:250px;" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Control The Lights</h3>
                        <!-- Light 1 -->
                        <h5>Cuisine
                            <button type="button" class="btn btn-warning" onclick="useApi('on',11)">On</button>
                            <button type="button" class="btn btn-dark" onclick="useApi('off',11)">Off</button>    
                        </h5>
                        <p class="card-text" id="cuisine">La lumière est ETEINTE</p>
                        
                        <!-- Light 2 -->
                        <h5>Chambre 
                            <button type="button" class="btn btn-warning" onclick="useApi('on',13)">On</button>
                            <button type="button" class="btn btn-dark" onclick="useApi('off',13)">Off</button>
                        </h5>
                        <p class="card-text" id="chambre">La lumière est ETEINTE</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div id="blind" class='card' style="width: 20rem;">
                    <img src="static/blind.jpeg" style="width: 250px;height: 250px;" class="card-img-top">
                    <h3 class="card-title">Control The Blinds</h3>
                    <button type="button" class="btn btn-success" onclick="blindUp()">Up</button>
                    <button type="button" class="btn btn-danger" onclick="blindDown()">Down</button>
                    <p class="card-text" id="blind-state">Le volet est ...</p>
                </div>
            </div>
        </div>
        
        <!-- BOOTSTRAP JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>