<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Internet Of Trolls</title>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
	crossorigin="anonymous"></script>
	<script src="static/script.js"></script>
	<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	crossorigin="anonymous">
	<style>
		div {
			text-align: center;
		}

		h3 {
            font-size: 2em;
            font-weight: bold;
        } 
	</style>
</head>
<body style="background-color: LightGray">
    <header style="margin-bottom: 40px; background-color: Black; color: white">
        <div class="container">
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4" style="text-align: right;">
                            <img src="../static/troll.png" style="height: 100px;">
                        </div>
                        <div class="col-sm" style="text-align: left; vertical-align: middle;">
                            <h1>INTERNET OF TROLLS</h1>
                            <h2>Bienvenue chez vous !</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- mode Auto -->
        <div class="col-sm" style="margin-bottom: 50px;">
            <h3>
                Mode Auto
                <button id="activeAuto" type="button" class="btn btn-success" onclick="changeMode(true)">On</button>
                <button id="desactiveAuto" type="button" class="btn btn-danger" onclick="changeMode(false)">Off</button>
            </h3>

        </div>
        <div class="row">
            <!-- lumière -->
            <div class="col-sm-4" style="border-right: solid silver;">
                <h3>Lumières</h3>
                <img src="../static/bulb.png" alt="Ampoules de lumière" style="max-width: 100%">
                <div class="container" style="margin-bottom: 20px">
                    <div class="row">
                        <!-- cuisine -->
                        <div class="col">
                            <h4>Cuisine</h4>
                            <button type="button" class="btn btn-warning" onclick="useApi('on',11)">Allumer</button>
                            <button type="button" class="btn btn-dark" onclick="useApi('off',11)">Éteindre</button>
                            <p class="card-text" id="light-11">La lumière est ÉTEINTE</p>

                        </div>
                        <div class="col">
                            <h4>Chambre</h4>
                            <button type="button" class="btn btn-warning" onclick="useApi('on',13)">Allumer</button>
                            <button type="button" class="btn btn-dark" onclick="useApi('off',13)">Éteindre</button>
                            <p class="card-text" id="light-13">La lumière est ÉTEINTE</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning" onclick="lightAllOn()">Tout allumer</button>
                <button type="button" class="btn btn-dark" onclick="lightAllOff()">Tout éteindre</button>
            </div>

            <!-- volets -->
            <div class="col-sm-4" style="border-right: solid silver;">
                <h3>Stores</h3>
                <img src="../static/blinds.png" alt="Volets" style="max-width: 100%">
                <div class="container">
                    <div class="row">
                        <!-- cuisine -->
                        <div class="col">
                            <h4>Cuisine</h4>
                            <button type="button" class="btn btn-success" onclick="blindUp(32)">Ouvrir</button>
                            <button type="button" class="btn btn-danger" onclick="blindDown(32)">Fermer</button>
                            <p class="card-text" id="blind-state-32">Le volet est FERMÉ</p>
                        </div>
                        <!-- chambre -->
                        <div class="col">
                            <h4>Chambre</h4>
                            <button type="button" class="btn btn-success" onclick="blindUp(12)">Ouvrir</button>
                            <button type="button" class="btn btn-danger" onclick="blindDown(12)">Fermer</button>
                            <p class="card-text" id="blind-state-12">Le volet est FERMÉ</p>
                        </div>
					</div>
				</div>
				<button type="button" class="btn btn-success" onclick="blindAllOn()">Tout ouvrir</button>
				<button type="button" class="btn btn-danger" onclick="blindAllDown()">Tout fermer</button>
            </div>

            <!-- capteur -->
            <div class="col-sm-4">
                <h3>État de la luminosité</h3>
                <img src="../static/sun.png" alt="Luminosité" style="max-width: 100%">
                <p class="card-text" id="lumi-state">Il fait jour/nuit.</p>
            </div>
        </div>
    </div> 

	<!-- BOOTSTRAP JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
	crossorigin="anonymous"></script>
</body>
</html>